.counter{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.counter-title{
    font-size: 50px;
    text-align: center;
}

.counter-block{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
input[type = "number"]{
    width: 70px;
    height: 70px;
    font-size: 30px;
    text-align: center;
    color: red;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.payment,
.hours,
.counter-total,
.last-week,
.two-weeks {
    text-align: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.last-week{
    margin-left: 0;
}

.payment span,
.hours span,
.counter-total span,
.last-week span,
.two-weeks span {
    font-size: 30px;
    color: red;
}
.blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.sum-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.save{
    margin-top: 50px;
}